.row {
    margin: 2px;
    padding: 2px;
}

.button {
    margin: 2px;
    padding: 2px;
}

h1 {
    margin: 2px;
    padding: 2px;
}

.categorylist {
    width: 98%;
}

.edit {
    width: 12%;
}

.delete {
    width: 12%;
}

.mandatory{
    color: rgb(218, 47, 47);
    font-weight: 600;
    font-size: small;
    padding: 12px;
}
.ui-button-info {
    background: rgba(125, 151, 207, 0.87);
}
.ui-button-success {
    background: rgba(13, 61, 163, 0.87);
    border: rgb(3, 92, 43);
}
.ui-button-danger {
    background: rgb(194, 8, 8);
    border: rgb(247, 8, 8);
}
.ui-button-trash {  
    background: rgb(177, 105, 105);
    border: rgb(247, 8, 8);
}
.ui-button-trash-light {
    background: rgb(231, 205, 166);
    border: rgb(247, 8, 8);
}
.ui-button-add {
    background: #eeeff1;
    color: darkslategray;
    border: 1px solid lightblue;
    margin: 1px 12px;
}
.add-customer {
    margin: 8px 1px;
}
.data-table {
    margin: 1px 12px;
}

