<div class="card mb-4 shadow-sm">
    <tr *ngFor="let i of p">
       <td><img class="bd-placeholder-img card-img-top p-2" width="50%" alt="fy" [src] = "i"  /></td>
       <td><button pButton type="button"  icon="pi pi-trash" class="ui-button-info" style="margin-right: .5em" (click)="deleteImage(i)" ></button></td>  
    </tr>
 </div>
<div class="text-center">
    <input class="form-control" type="file"  multiple
    class="form-control"
            (change)="onChange($event)">
  
    <button (click)="onUpload()" 
        class="btn btn-success">
        Upload
    </button>
 </div>